body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  flex: 1;
  transition: 0.3s;
}

.dark {
  transition: 0.3s;
  background-color: rgb(45, 44, 44);
  color: #f8f8f8;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: transparent;
    border: none;
    transition: 0.5s;

    .moonBtn {
      background-color: #b1c1e1;
      padding: 0.4em;
      border-radius: 50%;
      transition: 0.5s;
      width: 30px;
      height: 30px;
      color: rgb(255, 191, 62);

      &:hover {
        background-color: #f1c1e1;
        color: rgb(223, 113, 101);
      }
    }
  }

  h1 {
    line-height: 0;
    margin-bottom: 30px;
  }

  h2 {
    letter-spacing: 5px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: monospace;
    font-size: 35px;
    line-height: 25px;
  }

}

.elon-img {
  width: 15em;
  /* height: 100px; */
  object-fit: cover;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.search-bar {
  display: flex;
  width: 35em;
  height: 2em;
  display: flex;
  text-align: center;
  font-size: 21px;
  border-radius: 2.7em;
  outline: none;
  border: 2px solid violet;
  color: darkslategray;
  font-weight: 600;
}

.search-error {
  background-color: rgb(255, 144, 144);
  width: 70%;
  padding: 0.5em 2em;
  margin-top: 0.3em;
  border-radius: 2.5em;
  font-size: 21px;
  font-weight: 500;
  color: #f8f8f8;
}

.isHidden {
  visibility: hidden;
}

.products {
  width: 90%;
  border: 2px solid greenyellow;
  display: grid;
  // justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
  padding: 0.67em 1em;
  border-radius: 0.67em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product {
  box-shadow: 1px 3px 10px 0px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em;
  border: 1px solid salmon;
  margin: 1em;
  border-radius: 0.67em;

  .product-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  .product-name {
    display: flex;
    text-align: center;
    width: 50%;
    font-size: 12px;
  }

  .product-price {
    color: violet;
    font-size: 15px;
    font-weight: 600;
  }

  .product-footer {
    width: 50%;
    display: flex;
    justify-content: space-between;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      svg {
        color: greenyellow;
        width: 25px;
        height: 25px;
      }

    }
  }
}

.footer {
  display: flex;
  justify-content: center;

  svg {
    margin: 1em;
    width: 50px;
    height: 50px;
    transition: 0.3s;

    &:hover {
      color: greenyellow;
      width: 70px;
      height: 70px;
      rotate: calc(25deg)
    }
  }

}